<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>New data for the report</h5> <span class="label label-primary">IN+</span>
           <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <div>

            <div class="pull-right text-right">

                <span class="bar_dashboard">5,3,9,6,5,9,7,3,5,2,4,7,3,2,7,9,6,4,5,7,3,2,1,0,9,5,6,8,3,2,1</span>
                <br/>
                <small class="font-bold">$ 20 054.43</small>
            </div>
            <h4>NYS report new data!
                                            <br/>
                                            <small class="m-r"><a href="graph_flot.html"> Check the stock price! </a> </small>
                                        </h4>
        </div>
    </div>
</div>